/* ==========================================================================
   Lentotahti skin
   ========================================================================== */

/* Colors */
$main-green: #83844e !default;
$background-green: #939b72 !default;
$main-red: #d1836b !default;
$background-red: #c5927d !default;
$beige-background: #fefadf !default;

$background-color: $beige-background !default;
$text-color: $main-red !default;
$muted-text-color: $background-red !default;
$primary-color: $main-green !default;
$secondary-color: $main-red !default;
$border-color: mix(#fff, #40514e, 75%) !default;
$footer-background-color: $background-green !default;
$link-color: $main-green !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.site-logo img {
    height: 6rem;
    width: 8rem;
}